<html ng-app="cocktail">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
		<script src="/js/controllers/cocktail-controller.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="/css/cocktail.css">
	</head>
	<body>
		<div class="container" ng-controller="recipeController">
			<div class="row">
				<div class="col-md-12">
					<h1> Cocktail Form </h1>
					<form ng-submit="createCocktail()">
						<div class="form-group">
  							<label for="usr">Name:</label>
  							<input ng-model="name" type="text" class="form-control" id="name">
						</div>
						<div class="form-group">
  							<label for="description">Description:</label>
  							<input ng-model="description" type="text" class="form-control" id="description">
						</div>
						<div class="form-group">
  							<label for="prep">Preperation:</label>
  							<input ng-model="prep" type="text" class="form-control" id="prep">
						</div>

						<div class="form-group">
  							<label for="ingredients">Ingredients</label>
  							<input ng-model="ingredients" type="text" class="form-control" id="ingredients">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>